td
{
  border: 5px black solid;
}

table
{
  border-collapse: collapse;
  text-align: center;
  margin: auto;
  font-family: cursive;
}

body
{
  background-image: url(bg-patterns-01.png);
}

.linux
{
  max-width: 15%;
  position: absolute;
  right: 0px;
  bottom: 0px;
}

th
{
  text-decoration: underline;
  border: 5px black solid;
}
h1
{
  text-align: center;
  font-family: cursive;
}

.cmd
{
  background-color: rgb(0, 72, 131);
}

td
{
  background-color: rgb(136, 163, 255);
}
